<html>
<head>
	<title>Shopping Cart</title>
	<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
</head>
<body>
	<div id="navi">
        <div id="navi_elements">
          <ul>
          <li class="navi_icon"><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}imgs/icon.png"></a></li>
          {% if user.is_authenticated %}
          <li class="navi_icon"><a href="{% url 'logout_view' %}"><img src="{{ STATIC_URL }}imgs/logout.png"></a></li>
          {% else %}
          <li class="navi_icon"><a href="{% url 'django.contrib.auth.views.login' %}"><img src="{{ STATIC_URL }}imgs/login.png"></a></li>
          {% endif %}
          <li class="navi_icon"><img src="{{ STATIC_URL }}imgs/cart.png"></li>
          </ul>
        </div>
    </div>
    <div id='spacer'></div>
{% block content %}{% endblock %}
</body>
</html>
