/* shopping cart app CSS */

/* Home Page */
#navi { 
		border-bottom: 2px solid black; 
		width: 100%; 
		position: fixed; 
		z-index: 9999;
		padding-top: 9px;
		margin-top: 0;
		background: white;
		top: -4px;
}
#navi_elements 		{ margin-left: 15%; vertical-align: bottom;}
#navi_elements ul	{ list-style: none; margin-bottom: 3px; margin-top: 0; padding-left: 0px;}
.navi_icon 			{ display: inline-block; padding-right: 10px;}
.navi_icon img  	{ height: 35px;}
#spacer 			{ height: 41px;}
#content_div		{ margin-left: 15%; margin-right: 15%; margin-top: 45px;}
#store_list			{ 
						list-style: none;
						text-align: center;
						margin-top: 70px;
						border: 1px solid;
						border-radius: 13px;
					}

/* Store Page */
#store_name			{ text-align: center; border-bottom: 1px solid;}
.item_table 		{ text-align: center;}
.store_choice_button{ padding: 4px; border-radius: 6px;}

/* cart */
#recommendations {
	margin-top: 75px;
}